# Email Clients
# =======================================================================
sendgrid==6.4.8  # https://github.com/sendgrid/sendgrid-python/
boto3==1.17.98  # https://boto3.amazonaws.com/v1/documentation/api/latest/index.html

# Others
# =======================================================================
pytz==2020.5  # https://github.com/stub42/pytz
flake8==3.8.4  # https://github.com/PyCQA/flake8
